@model Estacionamento.Models.carros

@{
    ViewBag.Title = "Delete";
}



<h3>Deseja Apagar essas informações?</h3>
<div>
    
    <hr />
    <dl class="breadcrumb">
        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proprietario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proprietario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereço)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereço)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Saida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Saida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Permanencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Permanencia)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="alert-warning">
            <input type="submit" value="Apagar" class="btn btn-default" /> |
            @Html.ActionLink("Retorna", "Index")
        </div>
    }
</div>
